{% extends "_template.html.twig" %}

{% block title %}
    Réinitialisation du mot de passe
{% endblock %}

{% block content %}
<div class="columns is-centered section">
    <div class="column is-half box">
        <h1 class="title has-text-primary has-text-centered">
            Réinitialisation du mot de passe
        </h1>

        {% include 'includes/flash_message.html.twig' %}

        {{ form_start(reset_form) }}
            {{ form_row(reset_form.plainPassword.first, {
                label: 'Nouveau mot de passe:'
            }) }}

            {{ form_row(reset_form.plainPassword.second, {
                label: 'Répétez le mot de passe:'
            }) }}

            <button type="submit" class="button is-info is-fullwidth">
                Réinitialiser le mot de passe
            </button>
        {{ form_end(reset_form) }}
    </div>
</div>
{% endblock %}

