{% extends "_template.html.twig" %}

{% block title %}
    Conditions générales de vente
{% endblock %}

{% block content %}
    <div class="content is-margin-40">
        <h1 class="h1"> Conditions générales de ventes</h1>
        <p class="is-padding-10">

            Succulence traiteur, votre traiteur 100 % sur mesure à Villetaneuse (93), qui
            s’adapte à vos événements privés et professionnels !

            Que vous souhaitez organiser un buffet pour un anniversaire, un mariage, un baptême,
            un événement d’entreprise ou encore d’autres occasions, Succulence traiteur, situé à Villetaneuse,
            dans le département de Seine-Saint-Denis (93), vous propose des prestations de traiteur très complètes
            et sur mesure et se déplace dans toute l’Île-de-France et même au delà.

            Nos Spécialistes culinaires sont à votre écoute, afin de vous proposer des services de qualité.
            Nous mettons tout en œuvre pour vous puissiez passer des moments agréables et conviviaux lors de vos réceptions.

            Nous proposons des services variés selon les besoins de chaque, de la vaisselle à la cuisine, nous sommes
            à votre entière disposition pour tous vos événements. Mariage, cocktail dinatoire, batême, pendaison de
            crémaillère ou tout autre évènement festif..

            Notre cuisine traditionnelle s'allie aux savoirs faire français pour une créativité dont vous serez seul juge.

            Nos prestations peuvent être fournie clé en main : restauration, services et
            matériel. Nous réalisons aussi des cocktails à emporter ou à vous faire livrer (sur commande).
            Pour profiter pleinement de la fête, nous pouvons vous mettre en relation avec différents
            prestataires (décorateur) !


            {#        <p class="is-padding-10">Nous proposons à notre clientèle des prestations clé en main (mariage, baptême,#}
{#            anniversaire)  Nous#}
{#            réalisons vos gâteaux d'anniversaire (à partir de 4 personnes), vos pièces montées (choux nougatine,#}
{#            macarons, wedding cake, pièce américaine), à emporter ou à vous faire livrer (y compris le dimanche pour les#}
{#            pièces montées) sur commande. #}

            Nous proposons aux entreprises un accompagnement personnalisé pour vos
            séminaires, présentation de produits. Nous proposons des formules pour le midi, quand vous ne pouvez pas
            quitter le bureau ou lors de réunions (à la commande).

{#            Parce que vous n'avez pas toujours les moyens humains#}
{#            ou techniques de fournir à votre clientèle des pâtisseries artisanales, nos pâtissiers ont élaboré une carte#}
{#            variée de desserts. Nos cuisiniers peuvent également vous proposer une gamme de produits frais toute#}
{#            l'année.#}
{#        </p>#}
        <p class="is-padding-10"> Etudes et devis personnalisés sur demande.</p>



    </div>

{% endblock %}