{% extends "_template.html.twig" %}

{% block title %}
    Conditions générales de vente
{% endblock %}

{% block content %}
    <div class="content is-margin-40">
        <h1 class="h1"> Conditions générales de ventes</h1>
        <p class="is-padding-10">
            Jérôme Ravel Traiteur et son équipe ont à coeur de vous proposer des réceptions raffinées, où les valeurs de
            la cuisine traditionnelle s'allient aux saveurs nouvelles du monde entier. Grâce à une entreprise à échelle
            humaine, vous êtes suivi pas à pas, jusqu'au jour de votre réception. Mariage, cocktail déjeuner ou
            dînatoire avec ateliers de dégustation, buffet froid, dîner assis,? nous sommes à votre service pour tous
            vos événements festifs. Chaque prestation peut être fournie clé en main : restauration, services et
            matériel. Pour profiter pleinement de la fête, nous pouvons vous mettre en relation avec différents
            prestataires (baby-sitter, maître nageur, voiturier, décorateur) ! La recette de votre réception réussie :
            des produits sélectionnés et préparés avec soin, des lieux enchanteurs, des mélanges subtils de couleurs,
            d'ombres et de lumières, des mises en scène originales, tout un monde de saveurs magiques réalisé à votre
            image. Laissez-vous guider !</p>

        <p class="is-padding-10">Nous proposons à notre clientèle des prestations clé en main (mariage, baptême,
            anniversaire) mais nous réalisons aussi des cocktails à emporter ou à vous faire livrer (sur commande). Nous
            réalisons vos gâteaux d'anniversaire (à partir de 4 personnes), vos pièces montées (choux nougatine,
            macarons, wedding cake, pièce américaine), à emporter ou à vous faire livrer (y compris le dimanche pour les
            pièces montées) sur commande. Nous proposons aux entreprises un accompagnement personnalisé pour vos
            séminaires, présentation de produits. Nous proposons des formules pour le midi, quand vous ne pouvez pas
            quitter le bureau ou lors de réunions (à la commande). Parce que vous n'avez pas toujours les moyens humains
            ou techniques de fournir à votre clientèle des pâtisseries artisanales, nos pâtissiers ont élaboré une carte
            variée de desserts. Nos cuisiniers peuvent également vous proposer une gamme de produits frais toute
            l'année.</p>
        <p class="is-padding-10"> Etudes et devis personnalisés sur demande.</p>



    </div>

{% endblock %}