<h1>Réinitialisation de votre mot de passe</h1>

<p>
    Bonjour {{ user.pseudo }},<br>
    Pour pouvoir réinitialiser votre mot de passe, accédez au lien suivant:
    <a href="{{ url('reset_password', {id: user.id, token: user.securityToken}) }}">
        {{ url('reset_password', {id: user.id, token: user.securityToken}) }}
    </a>
</p>